<template>
    <div class="flex flex-col lg:flex-row mt-2 p-2 border border-gray-400 rounded-lg bg-white">
        <CollectionCandleStick></CollectionCandleStick>
        <div class="p-4">
            <CollectionData></CollectionData>
        </div>
    </div>
</template>

<script>

import CollectionCandleStick from './CollectionCandleStick.vue';
import CollectionData from './CollectionData.vue';

export default {
    components: {
        CollectionCandleStick,
        CollectionData
    }
}

</script>

<style>

</style>