<template>
    <div class="my-6 flex flex-col">
        <div class="flex flex-row pb-4">
            <p class="p-2">Change timeframe</p>
            <select class="bg-blue-50 border border-blue-300 rounded-lg" id="pdfCheck" v-on:change="addGranularity">
                <option v-for="granularity in granularities" :key="granularity" :value="granularity">
                    {{ granularity }}
                </option>
            </select>
        </div>
        <div id="chart">
            <apexchart type="candlestick" height="350" width="800" :options="chartOptions" :series="series"></apexchart>
        </div>
    </div>
</template>

<script>

import axios from 'axios';
import { ref, watch , onMounted } from 'vue';

export default {

    async setup() {

        const series = ref([{
            data: []
        }]);
        const chartOptions = {
            chart: {
                type: 'candlestick',
                height: 350
            },
            title: {
                text: 'Your collection candle stick',
                align: 'left'
            },
            xaxis: {
                type: 'datetime'
            },
            yaxis: {
                tooltip: {
                    enabled: true
                }
            }
        }
        const LAMPORT = 1000000000;
        const startTime = parseInt((Date.now() / 1000));
        const granularities = ["ONE_HOUR", "ONE_MIN", "FIVE_MIN", "ONE_DAY", "ONE_WEEK"];
        const granularity = ref("");

        onMounted(async () => {
            const data = await getCandleStick("ONE_DAY");
            updateCandleStick(data);
        })


        watch((granularity), async () => {
            series.value[0].data = [];
            const data = await getCandleStick(granularity.value);
            updateCandleStick(data);
        })

        function updateCandleStick(data) {
            if (data.data.length) {
                data.data.forEach(period => {
                    series.value[0].data.push({
                        x: new Date(period.startTime * 1000),
                        y: [(period.open / LAMPORT).toFixed(2), (period.high / LAMPORT).toFixed(2), (period.low / LAMPORT).toFixed(2), (period.close / LAMPORT).toFixed(2)]
                    })
                })
            }
        }

        function addGranularity(event) {
            granularity.value = event.target.value
        }

        async function getCandleStick(time) {
            const options = {
                method: 'POST',
                url: 'https://rest-api.hellomoon.io/v0/nft/collection/floorprice/candlesticks',
                headers: {
                    accept: 'application/json',
                    'content-type': 'application/json',
                    authorization: `Bearer ${process.env.VUE_APP_HELLOMOON_API_KEY}`
                },
                data: {
                    startTime: { operator: '<', value: startTime },
                    helloMoonCollectionId: '04b4f823aedd5190523916182b47d4c7',
                    granularity: time
                }
            };
            try {
                const { data } = await axios.request(options);

                return data;

            } catch (err) {
                if (err.message) console.log(err.message);
            }
        }


        return {
            series,
            chartOptions,
            granularities,
            addGranularity
        }

    }
}

</script>

<style></style>