<template>
    <div v-if="collection" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3 mx-4">
        <div class="flex flex-col md:flex-row p-3 border border-gray-400 rounded-lg shadow-lg">
            <p class="px-1 font-semibold">Your collection :</p>
            <p class="font-medium">{{ collection.name }}</p>
        </div>
        <div class="flex flex-col md:flex-row p-3 border border-gray-400 rounded-lg shadow-lg">
            <p class="px-1 font-semibold">Supply :</p>
            <p class="font-medium">{{ collection.totalSupply }}</p>
        </div>
        <div class="flex flex-col md:flex-row p-3 border border-gray-400 rounded-lg shadow-lg">
            <p class="px-1 font-semibold">Floor Price :</p>
            <p class="font-medium">{{ (parseInt(collection.floorPrice) / LAMPORT).toFixed(2) }} SOL</p>
        </div>
        <div class="flex flex-col p-3 border border-gray-400 rounded-lg shadow-lg">
            <p class="px-1 font-semibold">Volume total :</p>
            <p class="font-medium">{{ (parseInt(collection.total_volume) / LAMPORT).toFixed(2) }} SOL</p>
        </div>
        <div class="flex flex-col md:flex-row p-3 border border-gray-400 rounded-lg shadow-lg">
            <p class="px-1 font-semibold">ATH :</p>
            <p class="font-medium">{{ (parseInt(collection.ath) / LAMPORT).toFixed(2) }} SOL</p>
        </div>
        <div class="flex flex-col md:flex-row p-3 border border-gray-400 rounded-lg shadow-lg">
            <p class="px-1 font-semibold">ATL :</p>
            <p class="font-medium">{{ (parseInt(collection.atl) / LAMPORT).toFixed(2) }} SOL</p>
        </div>
        <div class="flex flex-col p-3 border border-gray-400 rounded-lg shadow-lg">
            <p class="px-1 font-semibold">Market Cap in SOL:</p>
            <p class="font-medium">{{ collection.market_cap_sol.toFixed(2) }} SOL</p>
        </div>
        <div class="flex flex-col p-3 border border-gray-400 rounded-lg shadow-lg">
            <p class="px-1 font-semibold">Market Cap in USD:</p>
            <p class="font-medium">{{ collection.market_cap_usd.toFixed(2) }} $</p>
        </div>
    </div>
</template>

<script>

import { ref } from 'vue';
import { useStore } from 'vuex';

export default {

    async setup() {
        
        const store = useStore();

        const LAMPORT = 1000000000;
        let collection = ref();

        collection = await store.dispatch('collection/getCollection');

        return {
            collection,
            LAMPORT
        }
    }
    
}

</script>

<style>

</style>