<template>
    <div v-if="nfts">
        <div v-for="nft in nfts" :key="nft">
            <p class="py-1">{{ nft?.name }}</p>
            <p class="py-1">{{ nft?.creators[0]?.address }}</p>
        </div>
    </div>
</template>

<script>

import { ref, defineComponent } from 'vue';
import { useStore } from 'vuex';

export default defineComponent({

    props: {
        address: String
    },

    async setup(props) {

        const address = ref(props.address);

        const store = useStore();

        const nfts = await store.dispatch("wallet/getNftWallet", address.value);

        console.log(nfts)

        return {
            nfts,
        }
    }
})

</script>