<template>
    <div v-if="wallet" class="pt-8">
        <div class="border border-gray-600 rounded-lg p-4 bg-white mx-6">
            <div class="py-1">
                <div class="pl-2 grid grid-cols-2 gap-4">
                    <router-link :to="{ name: 'onewallet', params: { id: wallet.id }}" @click="deleteTx">
                        <div class="pl-2 flex">
                            <p class="text-xl pr-2 font-bold">{{ wallet.name }}</p>
                        </div>
                    </router-link>
                    <div v-if="wallet.name != 'Main Wallet'" class="flex justify-end">
                        <div>
                            <form @submit.prevent="deleteWallet(wallet.id)">
                                <div>
                                    <Button color="red" outline type="submit">X</Button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="grid grid-cols-1 pt-2">
                    <div class="flex flex-col">
                        <p class="text-xl pl-2 text-left">{{ nativeBalance }} SOL</p>
                        <p class="text-slate-500 pt-1 pl-2 text-left">{{ usdtBalanceValue.toFixed(2) }} $</p>
                    </div>
                </div>
                
            </div>
        </div>

    </div>
</template>

<script>

import { computed } from 'vue';
import { useStore } from 'vuex';
import { Button } from 'flowbite-vue';

export default {

    props: {
        wallet: {}
    },

    components: {
        Button
    },

     methods: {
        deleteWallet(id){
            this.$store.dispatch("wallet/deleteWallet", id)
        },
        deleteTx() {
            this.$store.commit("tx/deleteTxArray")
        }
    },

    async setup(props) {

        const store = useStore();

        const LAMPORT = 1000000000;

        const wallet = computed(() => props.wallet);

        const tokenBalance = await store.dispatch("wallet/getTokenWallet", wallet.value.address);
   
        const nativeBalance = tokenBalance.data.nativeBalance / LAMPORT;

        const solPrice = tokenBalance.data.tokens[0].price;
        const usdtBalanceValue = nativeBalance * solPrice;

        return {
            nativeBalance,
            usdtBalanceValue
        }
    }
}

</script>