<template>
    <div class="">
        <div v-if="wallets.length === 0">
            <div class="py-6">
                <p>You have not wallet set for the moment.</p>
                <div class="pt-4">

                    <router-link to="/addwallet" class="bg-blue-900 px-4 py-2 text-gray-100 rounded-lg">Adding a wallet
                    </router-link>

                </div>

            </div>
        </div>

        <div v-else>
            <div v-if="wallets.length != 0">
                <div class="pt-6">
                    <div class="flex">
                        <p class="text-xl font-bold pl-4">My wallets : </p>
                    </div>
                    <div class="pt-6 mx-2 md:mx-6" v-for="wallet in wallets" :key="wallet">
                        <my-wallet :wallet="wallet"></my-wallet>

                    </div>
                </div>
                <div class="flex justify-end pr-6 mt-6">
                    <router-link to="/addwallet"
                        class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
                        Add a wallet
                    </router-link>
                </div>
            </div>

            <div v-else class="pt-10">
                <h3>Please waiting...</h3>

                <div class="py-20">
                    <rise-loader :loading="loading" :color="color" :size="size"></rise-loader>
                </div>
            </div>

        </div>
    </div>

</template>

<script>

import { computed } from 'vue';
import { useStore } from 'vuex';
import MyWallet from './MyWallet.vue';
import RiseLoader from "vue-spinner/src/RiseLoader.vue"

export default {

    components: {
        MyWallet,
        RiseLoader
    },

    async setup() {
        const store = useStore();

        const loading = true;
        const color = "#04027a";
        const size = "20px";

        const wallets = computed(() => store.state.wallet.wallets);


        return {
            wallets,
            loading,
            color,
            size
        }
    }
}

</script>