<template>
    <div v-if="awaitToken" class="min-h-screen mx-auto">
        <div class="flex pt-10">
            <router-link to="/mywallets" class="text-blue-600 text-lg pl-4">Return to all wallets</router-link>
        </div>
        <div class="pt-8">
            <div class="border border-gray-600 rounded-lg p-4 bg-white mx-6">
                <div class="py-1">
                    <div class="pl-2 flex flex-row justify-between">
                        <p class="text-xl pl-2">{{ wallet.name }}</p>
                        <p>{{ wallet.address }}</p>
                    </div>
                </div>
            </div>

            <div v-if="paymentSucceed" class="bg-green-400 border-2 border-green-500 p-4 mx-10 mt-4 rounded-lg">
                <p class="text-green-500">You're transactions has been proceed</p>
            </div>

            <div v-if="paymentFailed" class="bg-red-400 border-2 border-red-500 p-4 mx-10 mt-4 rounded-lg">
                <p class="text-red-500">You're transactions has been failed</p>
            </div>

            <div class="md:pt-4 md:px-4">
                <tabs variant="underline" v-model="activeTab" class="md:p-5">
                    <tab name="first" title="My Wallet">
                        <div class="flex flex-col md:flex-row justify-end pt-2 pr-4">
                            <div>
                                <router-link :to="{ name: 'transactions', params: { address: wallet.address } }">
                                    <Button gradient="blue">
                                        Get your transactions
                                    </Button>

                                </router-link>
                            </div>
                            <div class="md:ml-2">
                                <Button gradient="blue" @click="openModal">Make payment</Button>
                            </div>

                        </div>

                        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                            <div class="border border-gray-600 rounded-lg p-4 bg-white mx-6 mt-2">
                                <div class="flex justify-between text-bold">
                                    <p class="text-2xl">Token</p>
                                    <div class="flex flex-col">
                                        <p class="text-2xl pl-2 font-bold">{{ nativeBalance.toFixed(3) }} SOL</p>
                                        <p class="text-slate-500 text-end">{{ usdtBalanceValue.toFixed(2) }} $</p>
                                    </div>

                                </div>
                                <div class="py-1">
                                    <div class="pl-2 flex flex-col md:justify-between">
                                        <div v-for="token in tokens" :key="token">
                                            <token-view :token="token"></token-view>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="border border-gray-600 rounded-lg p-4 bg-white mt-2">
                                <the-chart :tokens="tokens"></the-chart>
                            </div>
                        </div>
                    </tab>
                </tabs>
            </div>

            <div>
                <Modal v-if="payment" @close="closeModal">
                    <template #header>
                        <div>
                            <p>Create a payment</p>
                        </div>
                    </template>
                    <template #body>
                        <div>
                            <the-payment @success="closeModalAndShow"></the-payment>
                        </div>
                    </template>
                    
                </Modal>
            </div>

        </div>
    </div>
    <div v-else>
        <h3>Please waiting...</h3>

        <div class="py-20">
            <rise-loader :loading="loading" :color="color" :size="size"></rise-loader>
        </div>
    </div>
</template>

<script>

import { useStore } from 'vuex';
import { useRoute } from 'vue-router';
import { ref, computed } from 'vue';
import { Tabs, Tab } from 'flowbite-vue';
import { Button } from 'flowbite-vue';
import { Modal } from 'flowbite-vue';
import TokenView from '../TokenView.vue';
import TheChart from '../TheChart.vue';
import RiseLoader from "vue-spinner/src/RiseLoader.vue";
import ThePayment from '../payments/ThePayment.vue';

export default {

    components: {
        TokenView,
        Tabs,
        Tab,
        TheChart,
        RiseLoader,
        Button,
        Modal,
        ThePayment
    },

    data() {
        return {
            ifForm: false
        }
    },

    async setup() {
        const route = useRoute();
        const store = useStore();

        const activeTab = ref('first');
        const payment = ref(false);
        const paymentSucceed = ref(false);
        const paymentFailed = ref(false);

        let loading = ref(true);
        const color = "#04027a";
        const size = "20px";

        let awaitToken = ref(false);

        let usdt = 0;
        let tokenData = {};
        const LAMPORT = 1000000000;

        const walletId = route.params.id

        const wallet = store.getters['wallet/getWallet'](walletId);

        awaitToken = computed(() => store.state.wallet.hasToken);
        

        const tokenBalance = await store.dispatch("wallet/getTokenWallet", wallet.address);

        loading = true;

        const tokens = tokenBalance.data.tokens.sort(function (a, b) {
            return (b.amount / 10 ** b.decimals) - (a.amount / 10 ** a.decimals);
        })

        const nativeBalance = tokenBalance.data.nativeBalance / LAMPORT;
        const solPrice = tokenBalance.data.solData[0].price;
        const usdtBalanceValue = nativeBalance * solPrice;

        function closeModal() {
            payment.value = false;
        }

        function openModal() {
            payment.value = true;
        }

        function closeModalAndShow(event) {
            console.log(event);
            if(event) closeModal();
            if(event.value.confirmationStatus === "processed") {
                paymentSucceed.value = true
            } else {
                paymentFailed.value = true
            }
        }

        return {
            wallet,
            nativeBalance,
            usdt,
            tokenData,
            tokens,
            usdtBalanceValue,
            activeTab,
            closeModal,
            openModal,
            payment,
            awaitToken,
            loading,
            color,
            size,
            closeModalAndShow,
            paymentSucceed,
            paymentFailed
        }
    }
}

</script>