<template>
    <div v-if="categories.length === 0" class="border border-gray-600 rounded-lg p-4 bg-white shadow-lg">
        <div class="pt-10">
            <h3 class="text-lg">You do not have any categories for the moment.</h3>
            <p>Please create a category to start sorting your transactions</p>
        </div>
        <div class="py-6">
            <form @submit.prevent="createCat">
                <div class="">
                    <div>
                        <label class="relative block">
                            <input id="walletAddress" v-model="catName"
                                class="placeholder:italic placeholder:text-slate-400 block bg-white min-w-full border border-slate-300 rounded-md py-2 pl-9 pr-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm"
                                placeholder="Create your categorie...">
                        </label>
                    </div>

                    <div class="pt-6">
                        <input class="bg-blue-900 px-4 py-2 text-gray-100 rounded-lg" type="submit"
                            value="Create your category">
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div v-else>
        <div class="border border-gray-600 rounded-lg p-4 bg-white">
            <div class="">
                <div class="flex justify-end">
                    <p @click="showForm" class="pr-2 text-blue-600 cursor-pointer">Add new categorie</p>
                </div>

                <div v-if="ifForm" class="mt-2">
                    <form @submit.prevent="createCat">
                        <div class="">
                            <div>
                                <label class="relative block">
                                    <input id="walletAddress" v-model="catName"
                                        class="placeholder:italic placeholder:text-slate-400 block bg-white min-w-full border border-slate-300 rounded-md py-2 pl-9 pr-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm"
                                        placeholder="Create your categorie...">
                                </label>
                            </div>

                            <div class="pt-6">
                                <input class="bg-blue-900 px-4 py-2 text-gray-100 rounded-lg" type="submit"
                                    value="Create your categorie">
                            </div>
                        </div>
                    </form>
                </div>

            </div>
            <div class="pt-10">
                <div class="flex pb-4">
                    <p class="pl-2 text-xl">Your categories</p>
                </div>
                <div v-for="categorie in categories" :key="categorie" class="flex justify-between">
                    <p>{{ categorie.name }}</p>
                    <div>
                        <form @submit.prevent="deleteCat(categorie.id)">
                            <div>
                                <Button color="red" outline type="submit">X</Button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="flex justify-end pt-4">
                <router-link class="text-blue-400" to="/categories">See all categories</router-link>
            </div>
        </div>
    </div>
</template>

<script>
import { computed, ref } from 'vue';
import { useStore } from 'vuex';
import { Button } from 'flowbite-vue';

export default {

    components: {
        Button
    },

    data() {
        return {
            catName: '',
            ifForm: false
        }
    },

    methods: {
        createCat() {
            let catName = {
                catName: this.catName,
            }
            this.$store.dispatch("categories/createCategorie", catName);
            this.catName = '';
            this.ifForm = false;
        },
        showForm() {
            this.ifForm = !this.ifForm
        },
        deleteCat(catId) {
            this.$store.dispatch("categories/deleteCategories", catId)
        }
    },
    setup() {
        let categories = ref({});

        const store = useStore();
        store.dispatch("categories/getCategories");

        categories = computed(() => store.state.categories.categories);

        return {
            categories
        }
    }
}
</script>