<template>
    <div class="flex justify-between">
        <div class="flex flex-row items-center pl-2">
            <router-link class="font-bold" :to="{ name: 'onewallet', params: { id: wallet.id } }" @click="deleteTx">{{wallet.name}}</router-link>
            <p class="ml-6">{{  wallet.nativeBalance.toFixed(2) }} Sol</p>
        </div>
        <div v-if="wallet.name != 'Main Wallet'">
            <form @submit.prevent="deleteWallet(wallet.id)">
                <div>
                    <Button color="red" outline type="submit">X</Button>
                </div>
            </form>
        </div>
    </div>

</template>

<script>

import { Button } from 'flowbite-vue';

export default {
    props: {
        wallet: {}
    },
    components: {
        Button
    },

    methods: {
        deleteWallet(id) {
            this.$store.dispatch("wallet/deleteWallet", id)
        },
        deleteTx() {
            this.$store.commit("tx/deleteTxArray")
        }
    },

}

</script>