<template>
    <div class="border border-gray-600 rounded-lg p-4 bg-white shadow-lg">

        <div class="pt-1">
            <div class="flex justify-end">
                <Button color="blue" outline @click="openModal">+</Button>
            </div>
            <div class="flex mb-2">
                <p class="text-xl font-bold pl-4">My wallets : </p>
            </div>
            <div v-for="wallet in wallets" :key="wallet">
                <div class="py-2">
                    <the-wallet :wallet="wallet"></the-wallet>
                </div>
            </div>
            <div class="flex justify-end pt-4">
                <router-link class="text-blue-400" to="/mywallets">See all wallets</router-link>
            </div>
        </div>
    </div>

    <!-- MODAL-->
    <div>
        <Modal v-if="isShowModal" @close="closeModal" size="xl">
            <template #header>
                <div>
                    <p class="text-center text-2xl">Add a wallet at your DAO ! </p>

                </div>
            </template>
            <template #body>
                <div>
                    <Form class="wallet-form" :validation-schema="newWallet" @submit="addWallet">
                        <div>
                            <label class="block text-left" for="walletName">Name</label>
                            <Field name="walletName" v-model="walletName" type="text" :value="walletName"
                                class="placeholder:italic placeholder:text-slate-400 block bg-white min-w-full border border-slate-300 rounded-md py-2 pl-9 pr-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm"
                                placeholder="Enter the name for your wallet..." />
                            <ErrorMessage name="nameWallet" class="error-feedback pt-2" />
                        </div>
                        <div class="pt-4">
                            <label for="walletAddress" class="block text-left">Wallet Address</label>
                            <Field name="walletAddress" :value="walletAddress"
                                class="placeholder:italic placeholder:text-slate-400 block bg-white min-w-full border border-slate-300 rounded-md py-2 pl-9 pr-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm"
                                placeholder="Enter wallet address..." />

                        </div>

                        <div class="pt-6">
                            <Button color="blue" outline type="submit">Add your wallet !</Button>
                        </div>

                    </Form>
                </div>
            </template>
        </Modal>
    </div>

</template>

<script>

import { computed, ref } from 'vue';
import { useStore } from 'vuex';

import TheWallet from "./TheWallet.vue";

import { Form, Field, ErrorMessage } from "vee-validate";
import * as yup from "yup";
import { Modal, Button } from 'flowbite-vue';

export default {

    components: {
        TheWallet,
        Modal,
        Form,
        Field,
        ErrorMessage,
        Button
    },

    data() {
        const newWallet = yup.object().shape({
            walletName: yup
                .string()
                .required("Wallet name is required !")
                .min(3, "Must be at least 3 characters!")
                .max(20, "Must be maximum 20 characters!"),
            walletAddress: yup
                .string()
                .required("Wallet address is required !")
                .min(32, "Must be at least 3 characters!")
                .max(44, "Must be maximum 20 characters!")
        });

        return {
            loading: false,
            newWallet
        };
    },

    setup() {
        const store = useStore();

        let walletName = "";
        let walletAddress = "";

        const wallets = computed(() => store.state.wallet.wallets);

        const isShowModal = ref(false);

        function closeModal() {
            isShowModal.value = false;
        }

        function openModal() {
            isShowModal.value = true;
        }

        async function addWallet(wallet) {
            store.dispatch("wallet/createWallet", wallet);
            isShowModal.value = false;
        }


        return {
            wallets,
            closeModal,
            openModal,
            isShowModal,
            addWallet,
            walletAddress,
            walletName
        }
    }
}

</script>