<template>
    <div class="">
        <the-header></the-header>
    </div>

    <section class="pb-20">
        <div class="container mx-auto px-4">
            <div class="flex flex-wrap -mt-10">
                <div class="lg:pt-14 pt-6 w-full md:w-4/12 px-4 text-center">
                    <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-2xl rounded-lg">
                        <div class="px-4 py-5 flex-auto">
                            <div
                                class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-red-400">
                                <i class="fas fa-award"></i>
                            </div>
                            <h6 class="text-xl font-semibold">Manage your DAO</h6>
                            <p class="mt-2 mb-4 text-gray-600">
                                A tool to manage your DAO from A to Z and
                                centralise all your actions
                            </p>
                        </div>
                    </div>
                </div>
                <div class="w-full md:w-4/12 px-4 text-center">
                    <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-2xl rounded-lg">
                        <div class="px-4 py-5 flex-auto">
                            <div
                                class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-blue-400">
                                <i class="fas fa-retweet"></i>
                            </div>
                            <h6 class="text-xl font-semibold">Build confidence</h6>
                            <p class="mt-2 mb-4 text-gray-600">
                                Give your community confidence by providing them
                                with visuals on the state of your DAO's finances
                            </p>
                        </div>
                    </div>
                </div>
                <div class="lg:pt-14 pt-6 w-full md:w-4/12 px-4 text-center">
                    <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-2xl rounded-lg">
                        <div class="px-4 py-5 flex-auto">
                            <div
                                class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-green-400">
                                <i class="fas fa-fingerprint"></i>
                            </div>
                            <h6 class="text-xl font-semibold">Track DAO data</h6>
                            <p class="mt-2 mb-4 text-gray-600">
                                Track all Relevant data in an easy way to help you in your decision making
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container mx-auto px-4 pt-10">
                <div class="items-center flex flex-wrap">
                    <div class="w-full ml-auto mr-auto px-4">
                        <div class="md:pr-12">
                            <div
                                class="text-pink-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-pink-300">
                                <i class="fas fa-rocket text-xl"></i>
                            </div>
                            <h3 class="text-3xl font-semibold">A growing company</h3>
                            <p class="mt-4 text-lg leading-relaxed text-gray-600">
                                This project was launched a short time ago and is still in full development.
                                We want to provide a simple but effective tool for DAOs
                            </p>
                            <p class="mt-4 text-lg leading-relaxed text-gray-600">We will add features little by little.
                                Here is a list of the features we will add over time :</p>

                            <div class="mx-auto flex flex-row justify-around mt-6">
                                <div class="mt-4 border border-1 border-gray-300 rounded-lg p-6 shadow-lg">
                                    <p class="py-1 font-bold text-xl">Payment</p>
                                    <ul class="list-none mt-6">
                                        <li class="py-2">
                                            <div class="flex items-center">
                                                <div>
                                                    <span
                                                        class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-pink-600 bg-red-600 mr-3"><i
                                                            class="fas fa-fingerprint"></i></span>
                                                </div>
                                                <div>
                                                    <h4 class="text-gray-600">
                                                        Payment management
                                                    </h4>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="py-2">
                                            <div class="flex items-center">
                                                <div>
                                                    <span
                                                        class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-red-600 bg-red-600 mr-3"><i
                                                            class="fab fa-html5"></i></span>
                                                </div>
                                                <div>
                                                    <h4 class="text-gray-600">
                                                        Integration of recurring payments
                                                    </h4>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="py-2">
                                            <div class="flex items-center">
                                                <div>
                                                    <span
                                                        class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-blue-600 bg-red-600 mr-3"><i
                                                            class="far fa-paper-plane"></i></span>
                                                </div>
                                                <div>
                                                    <h4 class="text-gray-600">...</h4>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="mt-4 border border-1 border-gray-300 rounded-lg p-6 shadow-lg">
                                    <p class="py-1 font-bold text-xl">Transactions</p>
                                    <ul class="list-none mt-6">
                                        <li class="py-2">
                                            <div class="flex items-center">
                                                <div>
                                                    <span
                                                        class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-green-600 bg-green-600 mr-3"><i
                                                            class="fas fa-fingerprint"></i></span>
                                                </div>
                                                <div>
                                                    <h4 class="text-gray-600">
                                                        Improved parsing of transactions
                                                    </h4>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="py-2">
                                            <div class="flex items-center">
                                                <div>
                                                    <span
                                                        class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-pink-600 bg-green-600 mr-3"><i
                                                            class="fab fa-html5"></i></span>
                                                </div>
                                                <div>
                                                    <h4 class="text-gray-600">
                                                        Export of categorized transactions in csv
                                                    </h4>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="py-2">
                                            <div class="flex items-center">
                                                <div>
                                                    <span
                                                        class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-pink-600 bg-green-600 mr-3"><i
                                                            class="far fa-paper-plane"></i></span>
                                                </div>
                                                <div>
                                                    <h4 class="text-gray-600">Improving the design of the pdf (not very
                                                        difficult :D )</h4>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="mt-4 border border-1 border-gray-300 rounded-lg p-6 shadow-lg">
                                    <p class="py-1 font-bold text-xl">Communications</p>
                                    <ul class="list-none mt-6">
                                        <li class="py-2">
                                            <div class="flex items-center">
                                                <div>
                                                    <span
                                                        class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-pink-600 bg-blue-600 mr-3"><i
                                                            class="fas fa-fingerprint"></i></span>
                                                </div>
                                                <div>
                                                    <h4 class="text-gray-600">
                                                        Discord Intégrations
                                                    </h4>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="py-2">
                                            <div class="flex items-center">
                                                <div>
                                                    <span
                                                        class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-pink-600 bg-blue-600 mr-3"><i
                                                            class="fab fa-html5"></i></span>
                                                </div>
                                                <div>
                                                    <h4 class="text-gray-600">
                                                        Post messages directly to your Discord
                                                    </h4>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="py-2">
                                            <div class="flex items-center">
                                                <div>
                                                    <span
                                                        class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-pink-600 bg-blue-600 mr-3"><i
                                                            class="far fa-paper-plane"></i></span>
                                                </div>
                                                <div>
                                                    <h4 class="text-gray-600">...</h4>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-6">
                <div class="py-12">
                    <h3 class="text-3xl font-bold">Roadmap</h3>
                    <div class="mt-10">
                        <Timeline :value="events" align="alternate" class="customized-timeline">
                            <template #content="slotProps">
                                <Card>
                                    <template #title>
                                        {{ slotProps.item.status }}
                                    </template>

                                    <template #content>
                                        <p>
                                            {{ slotProps.item.text }}
                                        </p>
                                    </template>
                                </Card>
                            </template>
                        </Timeline>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <the-footer />
</template>

<script>
import TheHeader from '@/components/TheHeader.vue';
import TheFooter from '@/components/TheFooter.vue';
import Timeline from 'primevue/timeline';
import Card from 'primevue/card';


export default {
    components: {
        TheHeader,
        TheFooter,
        Timeline,
        Card
    },

    setup() {
        const events = [
            {
                status: "Soon",
                text: "Correction of various 'small' bugs and improvement of the UI"
            },
            {
                status: "In few time",
                text: "Add payment with multiple currencies (USDT, USDC and all others in your wallet, integration of recurring payments  added display of your NFTs, export of categorized transactions in csv "
            },
            {
                status: "In a little while more",
                text: "Discord and Twitter integrations to communicate directly with your community through your interface, possibility to invite members of your team and assign them tasks (+ follow-up)"
            },
            {
                status: "In a much longer time",
                text: "All the ideas that come to mind (or to your mind ;) )"
            }
        ]

        return {
            events
        }
    }
}
</script>

