<template>
    <div class="flex flex-col bg-white rounded-lg mx-4 ">
        <p class="font-bold pl-4 text-left py-2">{{ cat.name }}</p>

        <div class="py-4">
            <div v-if="transactions" class="mx-2">
                <div v-for="tx in transactions" :key="tx">
                    <div class="hover:bg-sky-300 py-2 rounded-lg border-2 border-gray-400">
                        <div class="flex justify-end pr-2">
                            <div>
                                <form @submit.prevent="deletetx(tx.id)">
                                    <div class="mb-2">
                                        <Button color="red" outline type="submit">X</Button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <transaction-cat :transaction="tx"></transaction-cat>
                    </div>
                </div>
            </div>

            <div v-else>
                <p>You don't have any transactions set for this categories</p>
            </div>
        </div>
    </div>

</template>

<script>

import { computed } from 'vue';
import { useStore } from 'vuex';
import TransactionCat from './transactions/TransactionCat.vue';
import { Button } from 'flowbite-vue';

export default {

    components: {
        TransactionCat,
        Button
    },
    props: {
        categorie: {},
    },
    methods: {
        deletetx(txId) {
            let data = {
                txId: txId,
                catId: this.categorie.id
            }
            this.$store.dispatch("categories/deleteTx", data);
        }
    },

    async setup(props) {

        const store = useStore();

        const cat = computed(() => props.categorie);


        await store.dispatch("categories/getTxByCategories", cat.value.id);

        const transactions = computed(() => store.getters["categories/getTxByCategories"](cat.value.id));

        return {
            cat,
            transactions
        }
    }
}
</script>