<template>
    <div class="bg-black">
      <Vue3Marquee>
          <div class="flex flex-row py-1">
              <p class="text-white font-bold">We are currently on dev mode. Please take into account that it might have some bugs.</p>
          </div>
      </Vue3Marquee>
    </div>
  </template>
  
  <script>

  
  import { Vue3Marquee } from 'vue3-marquee';
  import 'vue3-marquee/dist/style.css';
  
  
  export default {
      name: "HomeView",
      components: {
          Vue3Marquee
      }
  }
  </script>
  