<template>
    <div id="chart" class="flex justify-center">
        <apexchart type="pie" width="600" :options="chartOptions" :series="series"></apexchart>
    </div>
</template>

<script>

export default {

    props: {
        tokens: {}
    },

    data() {
        return {
            series: this.tokens.map(function (token) {
            
                if (token.amount != undefined) return token.amount / 10 ** token.decimals;
            }),
            chartOptions: {
                chart: {
                    type: 'pie'
                },
                labels: this.tokens.map(function (token) {
                    return token.name
                })
            }
        }
    },
    mounted() {
        console.log(this.series);
    }
}
</script>