<template>

    <div class="pt-10 pb-20 w-full">
        <div>
            <p class="py-10 text-xl">Enter an address and check all wallet transactions</p>
            <form-wallet></form-wallet>
        </div>

    </div>

</template>

<script>

import FormWallet from '../components/FormWallet.vue';

export default {

    components: {
        FormWallet
    },

}
</script>