<template>
    <div class="text-white">
        <svg id="wave" style="transform:rotate(0deg); transition: 0.3s" viewBox="0 0 1440 230" version="1.1"
            xmlns="http://www.w3.org/2000/svg">
            <defs>
                <linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0">
                    <stop stop-color="rgba(17, 24, 39, 1)" offset="0%"></stop>
                    <stop stop-color="rgba(237.203, 235.514, 231.779, 1)" offset="100%"></stop>
                </linearGradient>
            </defs>
            <path style="transform:translate(0, 0px); opacity:1" fill="url(#sw-gradient-0)"
                d="M0,115L60,126.5C120,138,240,161,360,141.8C480,123,600,61,720,49.8C840,38,960,77,1080,84.3C1200,92,1320,69,1440,84.3C1560,100,1680,153,1800,172.5C1920,192,2040,176,2160,172.5C2280,169,2400,176,2520,184C2640,192,2760,199,2880,203.2C3000,207,3120,207,3240,191.7C3360,176,3480,146,3600,141.8C3720,138,3840,161,3960,172.5C4080,184,4200,184,4320,180.2C4440,176,4560,169,4680,145.7C4800,123,4920,84,5040,80.5C5160,77,5280,107,5400,111.2C5520,115,5640,92,5760,76.7C5880,61,6000,54,6120,69C6240,84,6360,123,6480,134.2C6600,146,6720,130,6840,107.3C6960,84,7080,54,7200,69C7320,84,7440,146,7560,161C7680,176,7800,146,7920,126.5C8040,107,8160,100,8280,107.3C8400,115,8520,138,8580,149.5L8640,161L8640,230L8580,230C8520,230,8400,230,8280,230C8160,230,8040,230,7920,230C7800,230,7680,230,7560,230C7440,230,7320,230,7200,230C7080,230,6960,230,6840,230C6720,230,6600,230,6480,230C6360,230,6240,230,6120,230C6000,230,5880,230,5760,230C5640,230,5520,230,5400,230C5280,230,5160,230,5040,230C4920,230,4800,230,4680,230C4560,230,4440,230,4320,230C4200,230,4080,230,3960,230C3840,230,3720,230,3600,230C3480,230,3360,230,3240,230C3120,230,3000,230,2880,230C2760,230,2640,230,2520,230C2400,230,2280,230,2160,230C2040,230,1920,230,1800,230C1680,230,1560,230,1440,230C1320,230,1200,230,1080,230C960,230,840,230,720,230C600,230,480,230,360,230C240,230,120,230,60,230L0,230Z">
            </path>
            <defs>
                <linearGradient id="sw-gradient-1" x1="0" x2="0" y1="1" y2="0">
                    <stop stop-color="rgba(125.641, 121.855, 120.639, 1)" offset="0%"></stop>
                    <stop stop-color="rgba(166.623, 163.678, 157.167, 1)" offset="100%"></stop>
                </linearGradient>
            </defs>
            <path style="transform:translate(0, 50px); opacity:0.9" fill="url(#sw-gradient-1)"
                d="M0,138L60,130.3C120,123,240,107,360,103.5C480,100,600,107,720,118.8C840,130,960,146,1080,134.2C1200,123,1320,84,1440,80.5C1560,77,1680,107,1800,103.5C1920,100,2040,61,2160,72.8C2280,84,2400,146,2520,172.5C2640,199,2760,192,2880,176.3C3000,161,3120,138,3240,130.3C3360,123,3480,130,3600,126.5C3720,123,3840,107,3960,92C4080,77,4200,61,4320,46C4440,31,4560,15,4680,19.2C4800,23,4920,46,5040,57.5C5160,69,5280,69,5400,88.2C5520,107,5640,146,5760,141.8C5880,138,6000,92,6120,72.8C6240,54,6360,61,6480,61.3C6600,61,6720,54,6840,61.3C6960,69,7080,92,7200,115C7320,138,7440,161,7560,164.8C7680,169,7800,153,7920,149.5C8040,146,8160,153,8280,138C8400,123,8520,84,8580,65.2L8640,46L8640,230L8580,230C8520,230,8400,230,8280,230C8160,230,8040,230,7920,230C7800,230,7680,230,7560,230C7440,230,7320,230,7200,230C7080,230,6960,230,6840,230C6720,230,6600,230,6480,230C6360,230,6240,230,6120,230C6000,230,5880,230,5760,230C5640,230,5520,230,5400,230C5280,230,5160,230,5040,230C4920,230,4800,230,4680,230C4560,230,4440,230,4320,230C4200,230,4080,230,3960,230C3840,230,3720,230,3600,230C3480,230,3360,230,3240,230C3120,230,3000,230,2880,230C2760,230,2640,230,2520,230C2400,230,2280,230,2160,230C2040,230,1920,230,1800,230C1680,230,1560,230,1440,230C1320,230,1200,230,1080,230C960,230,840,230,720,230C600,230,480,230,360,230C240,230,120,230,60,230L0,230Z">
            </path>
        </svg>
        <nav class="bg-gray-900">
            <div class="flex flex-row justify-center py-5">
                <p>Made with ♥ by</p>
                <a class="font-bold pl-2" href="https://cryptomonkeyproduction.com/" target="_blank">Crypto Monkey
                    Production</a>
            </div>
            <div class="pt-2 flex flex-row justify-center">
                <p>Don't hesitate to help us if you want :</p>
                <p class="font-bold pl-2">EoUqcvLbQKHdyoD1B9BBFRdW3n61b62zhqBSi25wDCX</p>
            </div>

            <!--
            <router-link to="about">About Us</router-link> |
            <router-link to="about">We are us ?</router-link>-->
        </nav>
    </div>
</template>

<script>

export default {
    name: 'TheFooter'
}

</script>