<template>
    <div class="bg-gray-900">
        <nav class="container px-6 py-3 mx-auto md:flex md:justify-between md:items-center">
            <div class="flex items-center justify-between">
                <router-link to="/" class="text-xl font-bold text-gray-100 md:text-2xl">
                    <div class="flex flex-row justify-center items-center">
                        <img class="h-12 w-12" src="images/urukLogo.png" alt="Logo Uruk">
                    </div>
                </router-link>
                <!-- Mobile menu button -->
                <div @click="toggleNav" class="flex md:hidden">
                    <button type="button"
                        class="text-gray-100 hover:text-gray-400 focus:outline-none focus:text-gray-400">
                        <svg viewBox="0 0 24 24" class="w-6 h-6 fill-current">
                            <path fill-rule="evenodd"
                                d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z">
                            </path>
                        </svg>
                    </button>
                </div>
            </div>

            <!-- Mobile Menu open: "block", Menu closed: "hidden" -->
            <ul :class="showMenu ? 'flex' : 'hidden'"
                class="flex-col mt-8 space-y-4 md:flex md:space-y-0 md:flex-row md:items-center md:space-x-10 md:mt-0">
                <li class="text-gray-100 hover:text-indigo-400">
                    <router-link to="/">Home</router-link>
                </li>
            </ul>
        </nav>
    </div>
    
</template>

<script>

import { ref } from 'vue';

export default {
    name: 'TheHeader',

    computed: {
        currentUser() {
            return this.$store.state.auth.user;
        },
        showAdminBoard() {
            if (this.currentUser && this.currentUser['roles']) {
                return this.currentUser['roles'].includes('ROLE_ADMIN');
            }
            return false;
        },
        showDaoOwnerBoard() {
            if (this.currentUser && this.currentUser['roles']) {
                return this.currentUser['roles'].includes('ROLE_DAOOWNER');
            }
            return false;
        }
    },

    setup() {

        const showMenu = ref(true);
        const toggleNav = () => (showMenu.value = !showMenu.value);
        

        return {
            showMenu,
            toggleNav,
            
        };
    },
}

</script>