<template>
    <div class="grid grid-cols-2 my-1">
        <div v-if="tokenData.symbol != 'SOL'" class="flex flex-row">
            <div v-if="tokenData.icon">
                <img class="w-5 h-5" :src="tokenData.icon" alt="icon"/>
            </div>
            <div v-else class="text-black">
                <i class='bx bxs-invader w-5 h-5'></i>
            </div>
            
            <p class="pl-2">{{ tokenData.name }}</p>
        </div>
        <div v-if="tokenData.symbol != 'SOL'" class="flex flex-row justify-end">
            <p class="pr-2">{{ amount.toFixed(2) }}</p>
            <p>{{ tokenData.symbol }}</p>
        </div>
    </div>
</template>

<script>

import { computed } from 'vue';

export default {
    props: {
        token: {}
    },
    async setup(props) {

        const tokenData = computed(() => props.token);

        const amount = tokenData.value.amount / 10 ** tokenData.value.decimals;

        return {
            tokenData,
            amount
        }

    }
}
</script>