<template>
    <div class="min-h-screen bg-white flex flex-col justify-between">
        <div class="">
            <div @click="toggleNav" class="flex md:hidden">
                <button type="button" class="text-gray-800 hover:text-gray-400 focus:outline-none focus:text-gray-400">
                    <svg viewBox="0 0 24 24" class="w-6 h-6 fill-current">
                        <path fill-rule="evenodd"
                            d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z">
                        </path>
                    </svg>
                </button>
            </div>

            <div :class="showMenu ? 'md:flex' : 'hidden'" class="md:flex md:flex-col px-6">
                <div v-if="showUserBoard"
                    class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-800 hover:text-indigo-400">
                    <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"><i
                            class="bx bx-home"></i></span>
                    <router-link to="/dashboard" class="font-medium pt-2">Dashboard</router-link>
                </div>
                <div v-if="showDaoOwnerBoard" class="flex flex-col">
                    <div class=" border-b-2 border-gray-400 pb-4">
                        <div class="flex flex-row items-center py-6">
                            <img id="daoImage" :src="src" class="dao-img-card rounded-full w-12 h-auto" />
                            <p class="text-2xl font-bold pl-4">{{ dao.name }}</p>
                        </div>
                        <div class="flex flex-col mr-4">
                            <div class="flex flex-row text-lg">
                                <p>Total Balance : </p>
                                <p class="text-bold ml-2">{{ totalBalance.toFixed(2) }} Sol</p>
                            </div>
                            <div class="flex flex-row justify-between px-2">
                                <p class="text-gray-400 block text-right">SOL : {{ solPrice }} $</p>
                                <p class="text-gray-400 block text-right">{{ totalBalanceUsd.toFixed(2) }} $</p>
                            </div>
                        </div>
                    </div>

                    <div
                        class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-800 hover:text-indigo-400  py-10 border-b-2 border-gray-400">
                        <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"><i
                                class="bx bx-home"></i></span>

                        <router-link to="/daoowner" class="font-medium pt-2">Dashboard</router-link>
                    </div>

                    <div v-if="wallets && wallets.length !== 0" class="flex flex-col">
                        <div class="flex flex-row items-center">
                            <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400">
                                <i class='bx bx-wallet-alt'></i>
                            </span>
                            <p>My wallet :</p>
                        </div>
                    </div>
                </div>
                <div class="pl-4 py-2" v-for="wallet in wallets" :key="wallet">
                    <router-link :to="{ name: 'onewallet', params: { id: wallet.id } }" class="font-medium">{{
                        wallet.name
                    }}</router-link>
                </div>


                <div v-if="dao"
                    class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-800 hover:text-indigo-400">
                    <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400">
                        <i class='bx bx-plus'></i>
                    </span>
                    <router-link to="/addwallet" class="font-medium pt-2">AddWallet</router-link>
                </div>
                <div v-if="showAdminBoard" class="text-gray-800 hover:text-indigo-400">
                    <router-link to="/admin" class="nav-link">Admin Board</router-link>
                </div>

                <div v-if="currentUser"
                    class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200  text-gray-800 hover:text-indigo-400">
                    <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400">
                        <i class='bx bx-category'></i></span>
                    <router-link to="/categories" class="font-medium">
                        categories
                    </router-link>
                </div>

                <div class="py-10 mx-3">
                    <wallet-multi-button></wallet-multi-button>
                </div>
            </div>
        </div>
        <div class="border-t-2 border-slate-500">
            <div v-if="currentUser"
                class="pt-2 flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200  text-gray-800 hover:text-indigo-400">
                <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"><i
                        class="bx bx-user"></i></span>
                <router-link to="/settings" class="font-medium">
                    settings
                </router-link>
            </div>
        </div>
    </div>
</template>

<script>

import { ref, computed, watch } from 'vue';
import { useStore } from 'vuex';
import { useRouter } from 'vue-router';

import { WalletMultiButton } from 'solana-wallets-vue';
import { useWallet } from 'solana-wallets-vue';


export default {

    name: "SideMenu",
    components: {
        WalletMultiButton
    },

    computed: {
        currentUser() {
            return this.$store.state.auth.user;
        },
        showUserBoard() {
            if (this.currentUser && this.currentUser['roles']) {
                return this.currentUser['roles'].includes('ROLE_USER');
            }
            return false;
        },
        showAdminBoard() {
            if (this.currentUser && this.currentUser['roles']) {
                return this.currentUser['roles'].includes('ROLE_ADMIN');
            }
            return false;
        },
        showDaoOwnerBoard() {
            if (this.currentUser && this.currentUser['roles']) {
                return this.currentUser['roles'].includes('ROLE_DAOOWNER');
            }
            return false;
        },
    },

    async setup() {
        const store = useStore();
        const router = useRouter();

        let dao = ref({});
        let solData = ref({});
        let totalBalance = ref({});
        let totalBalanceUsd = ref({});
        let solPrice = ref({});
        let src = ref({});
        let wallets = ref({});

        const BASE_URL = process.env.VUE_APP_BASE_URL_IMAGE;

        store.commit("dao/setDao");
        dao = computed(() => store.state.dao.dao);

        console.log(dao.value);


        src = computed(() => store.state.dao.dao.url);

        if (dao.value.url != null) {
            src = computed(() => `${BASE_URL}images/dao/${dao.value.url}`.toString())
        } else {
            src = '//ssl.gstatic.com/accounts/ui/avatar_2x.png'
        }
        console.log(src);

        totalBalance = computed(() => store.state.wallet.totalBalance);
        solData = computed(() => store.state.utils.solMetaData);
        totalBalanceUsd = computed(() => store.state.wallet.totalBalance * solData.value.market_data?.current_price.usd);
        solPrice = computed(() => solData.value.market_data?.current_price.usd);

        let showMenu = ref(false);
        const toggleNav = () => (showMenu.value = !showMenu.value);

        const connectedWallet = computed(() => {
            const { connected } = useWallet();
            if (connected && connected.value) return true;
            return false;
        })

        watch((connectedWallet), async () => {
            if (!connectedWallet.value) {
                store.dispatch("wallet/resetWallet");
                store.dispatch("auth/logOut");
                router.push('/');
            }
        })

        await store.dispatch("wallet/getAllWallets");

        wallets = computed(() => store.state.wallet.wallets);

        console.log(wallets);

        return {
            showMenu,
            toggleNav,
            wallets,
            dao,
            totalBalance,
            totalBalanceUsd,
            solPrice,
            src
        };
    },
}
</script>