<template>
    <div v-if="dao" class="min-h-screen pt-10 px-4 border-l-2 border-gray-400">
        <div class="shadow-lg">
            <collection-global></collection-global>
        </div>

        <div class="flex sm:flex-col md:flex-row py-4">
            <div class="md:basis-1/3 ml-1 md:ml-2">
                <the-wallets></the-wallets>
            </div>
            <div class="md:basis-1/3 ml-1 md:ml-2">
                <the-categories></the-categories>
            </div>
        </div>
    </div>
</template>

<script>



import TheWallets from '../widgets/TheWallets.vue';
import TheCategories from '../widgets/TheCategories.vue';
import CollectionGlobal from '../collections/CollectionGlobal.vue';


export default {

    components: {
        TheWallets,
        TheCategories,
        CollectionGlobal
    },


    setup() {

        const dao = localStorage.getItem("dao");
        
        return {
            dao
        }
    }
}

</script>