<template>
    <div>
        <Form @submit="onClick" :validation-schema="payment">
            <div class="flex flex-col">
                <div class="my-2 flex flex-col">
                    <div class="flex flex-col">
                        <label name="address">Select an address : </label>
                        <Field class="border-2 border-gray-300 rounded-lg" name="address" type="text" v-model="address"
                            :value="address" />
                    </div>
                    <ErrorMessage name="address" class="error-feedback pt-2 text-red" />
                </div>
                <div class="py-2 flex flex-col">
                    <div class="flex flex-col">
                        <label name="amount">Select the amount of SOL : </label>
                        <Field class="border-2 border-gray-300 rounded-lg" name="amount" type="number" v-model="value"
                            @input="() => { if (value > (solMint.amount / LAMPORT) || value < 0) { value = (solMint.amount / LAMPORT) } }" />
                    </div>
                    <ErrorMessage name="amount" class="error-feedback pt-2 text-red" />
                </div>

                <div>

                </div>

                <div class="flex justify-center mt-4">
                    <button
                        class="px-4 py-2 font-bold text-white bg-blue-500 rounded-full hover:bg-blue-700 focus:outline-none focus:shadow-outline">
                        Send Transactions
                    </button>
                </div>

            </div>
        </Form>
    </div>
</template>

<script>

import * as buffer from "buffer";
import { computed, ref } from 'vue';
import { useRoute } from 'vue-router';
import { useStore } from 'vuex';
import { Form, Field, ErrorMessage } from "vee-validate";
import * as yup from "yup";

import { useWallet } from 'solana-wallets-vue';
import { Connection, PublicKey, SystemProgram, Transaction } from '@solana/web3.js';

export default {
    components: {
        Form,
        Field,
        ErrorMessage
    },
    data() {
        const payment = yup.object().shape({
            address: yup
                .string()
                .required(),
            amount: yup
                .number()
        })
        return {
            payment
        }
    },

    async setup(props, { emit }) {
        const route = useRoute();
        const store = useStore();
        const walletId = route.params.id;
        const LAMPORT = 1000000000;
        let token = ref();

        window.Buffer = buffer.Buffer;

        const { publicKey, sendTransaction } = useWallet();

        const wallet = store.getters['wallet/getWallet'](walletId);

        const tokenBalance = await store.dispatch("wallet/getTokenWallet", wallet.address);

        const tokens = tokenBalance.data.tokens.sort(function (a, b) {
            return (b.amount / 10 ** b.decimals) - (a.amount / 10 ** a.decimals);
        });

        const solMint = tokenBalance.data.tokens.find((token) => {
            return token.name === "Wrapped SOL"
        });

        console.log(tokens);

        const onClick = async (payment) => {
            console.log(payment.address);
            if (!publicKey) {
                console.log('error', `Send Transaction: Wallet not connected!`);
                return;
            }

            let signature = '';
            //EoUqcvLbQKHdyoD1B9BBFRdW3n61b62zhqBSi25wDCX
            try {
                const account = new PublicKey(payment.address);
                console.log(publicKey.value);
                const transaction = new Transaction().add(
                    SystemProgram.transfer({
                        fromPubkey: publicKey.value,
                        toPubkey: account,
                        lamports: payment.amount * LAMPORT,
                    })
                );

                const connection = new Connection("https://rpc.helius.xyz/?api-key=2f4f596c-ebff-4c9c-8430-11ff173b3c0b");
                const latestBlockHash = await connection.getLatestBlockhash();

                signature = await sendTransaction(transaction, connection);
                const success = await connection.confirmTransaction({
                    blockhash: latestBlockHash.blockhash,
                    lastValidBlockHeight: latestBlockHash.lastValidBlockHeight,
                    signature: signature
                });
                if(success) {
                    emit("success", success);
                    
                }
            } catch (error) {
                console.log(error)
                console.log('error', `Transaction failed! ${error?.message}`, signature);
                return;
            }
        }

        function updateTokenMint(event) {
            token = computed(() => event.target.value);
        }

        console.log(token.value);

        return {
            onClick,
            updateTokenMint,
            tokens,
            LAMPORT,
            solMint
        }

    }
}

</script>