<template>
    <div class="flex flex-col">
        <div class="mt-10">
            <h1 class="text-3xl">Your setting</h1>
        </div>

        <div class="mt-6 px-4">
            <Tabs variant="underline" v-model="activeTab" class="p-5">
                <!-- <Tab name="first" title="Profile">
                <the-profile class=" bg-white"></the-profile>
            </Tab>-->
                <Tab name="first" title="Dao Setting">
                    <the-dao></the-dao>
                </Tab>
            </Tabs>
        </div>
    </div>
</template>

<script>
import { ref } from 'vue';
import { Tabs, Tab } from 'flowbite-vue';
//import TheProfile from "./TheProfile.vue";
import TheDao from "./TheDao.vue";

export default {

    components: {
        Tabs,
        Tab,
        //TheProfile,
        TheDao
    },

    async setup() {
        const activeTab = ref('first');

        return {
            activeTab
        }
    }
}

</script>