<template>
    <div class=" bg-white px-32 py-10">
        <div class="flex flex-row">
            <div class="mt-6 pt-2">
                <h2 class="text-3xl">The Dao Profile Setting</h2>
            </div>
        </div>

        <div class="flex justify-end pr-4">
            <button @click="showForm"
                class="px-4 py-2 font-bold text-white bg-blue-500 rounded-full hover:bg-blue-700 focus:outline-none focus:shadow-outline">Update
                your profile</button>
        </div>

        <div class="flex flex-row justify-evenly pb-10 pt-6">
            <div class="flex flex-col">
                <img id="dao-img" :src="src" class="dao-img-card h-auto w-60" />
            </div>


            <div class="text-left text-xl flex flex-col justify-evenly">
                <p>
                    <strong>Name:</strong>
                    {{ dao?.name }}
                </p>

            </div>
        </div>
    </div>

    <div v-show="ifForm">
        <div class="pb-6 bg-white">
            <div class="px-4 border-b-2 border-slate-500">
                <div class="block">
                    <p class="text-2xl text-left">Change your profile picture :</p>
                </div>
                <Form @submit="updateDao" :validation-schema="schema" name="fileInputDao" class="px-8 pt-6 pb-8 mb-4 flex">
                    <div v-if="!successful">
                        <div class="grid grid-cols-2 gap-4">

                            <FilePreview v-for="file of selectedFiles" :key="file.id" :file="file" tag="li"
                                @remove="removeFile" />
                            <Field name="fileInputDao" class="pt-4 text-center" type="file" id="fileInputDao" multiple
                                @change="onInputChange" />
                        </div>
                    </div>
                    <div class="flex justify-center">
                        <button
                            class="px-4 py-2 font-bold text-white bg-blue-500 rounded-full hover:bg-blue-700 focus:outline-none focus:shadow-outline"
                            :disabled="loading">
                            <span v-show="loading" class="spinner-border spinner-border-sm"></span>
                            Update
                        </button>
                    </div>
                </Form>
            </div>

            <div class="mx-12 mt-6">
                <div class="block">
                    <p class="text-2xl text-left">Change your profile name :</p>
                </div>
                <Form class="flex" @submit="updateName" :validation-schema="daoStuff" name="daoName">
                    <div class="flex justify-center items-center mt-4">
                        <div class="flex flex-row md:mr-2">
                            <Field name="name" type="text" :value="dao.name"
                                class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" />
                            <ErrorMessage name="name" class="error-feedback pt-2" />
                        </div>

                        <div class="text-center">
                            <button
                                class="w-full px-4 py-2 font-bold text-white bg-blue-500 rounded-full hover:bg-blue-700 focus:outline-none focus:shadow-outline"
                                :disabled="loading">
                                <span v-show="loading" class="spinner-border spinner-border-sm"></span>
                                Update
                            </button>
                        </div>
                    </div>
                </Form>
            </div>
        </div>

    </div>

    <div class="pt-6">
        <div class="flex justify-around">
            <p>Delete your DAO : </p>

            <div class="">
                <Button color="red" outline @click="deleteDaoConfirm">Delete Your DAO</Button>
            </div>
        </div>

    </div>

    <!-- MODAL-->
    <div>
        <Modal v-if="isShowModal" @close="closeModal" size="xl" @cat="catId = $event">
            <template #header>
                <div>
                    <p class="text-center text-3xl">Are you sure you want to delete your DAO ?</p>

                </div>
            </template>
            <template #body>
                <p class="text-center text-2xl">This action is irreversible and you will lost all your data !</p>
            </template>

            <template #footer>
                <div class="flex justify-center">
                    <form @submit.prevent="deleteDao">
                        <div class="">
                            <Button color="red" outline type="submit">Delete your DAO anymay !</Button>
                        </div>
                    </form>
                </div>
            </template>
        </Modal>
    </div>
</template>

<script>

import { ref, computed } from 'vue';
import { useRouter } from 'vue-router';
import { useStore } from 'vuex';
import { Form, Field, ErrorMessage } from "vee-validate";
import * as yup from "yup";
import useFileList from '../../compositions/file-list'
import FilePreview from '../utils/FilePreview';
import { Button } from 'flowbite-vue';
import { useWallet } from 'solana-wallets-vue';
import { Modal } from 'flowbite-vue';

export default {

    data() {
        const schema = yup.object().shape({
            fileInputDao: yup
                .array()
        });

        const daoStuff = yup.object().shape({
            name: yup
                .string()
                .required("Dao name is required!")
                .min(3, "Must be at least 3 characters!")
                .max(20, "Must be maximum 20 characters!")
        });

        return {
            loading: false,
            ifForm: false,
            schema,
            daoStuff
        };
    },
    components: {
        Form,
        Field,
        ErrorMessage,
        FilePreview,
        Button,
        Modal
    },
    methods: {
        showForm() {
            this.ifForm = !this.ifForm;
        }
    },
    setup() {
        const router = useRouter();
        const store = useStore();
        const wallet = useWallet();
        const { files, removeFile } = useFileList();
        const BASE_URL = process.env.VUE_APP_BASE_URL_IMAGE;

        let selectedFiles = null;
        let message = "";
        let successful = false;
        let src = ref('')

        const isShowModal = ref(false);

        let dao = ref({});
        dao = computed(() => store.state.dao.dao);

        if (dao.value.url != null) {
            src = `${BASE_URL}images/dao/${dao.value.url}`.toString()
        } else {
            src = '//ssl.gstatic.com/accounts/ui/avatar_2x.png'
        }

        function onInputChange(e) {
            const selectedFile = e.target.files;
            selectedFiles = selectedFile;
        }

        async function deleteDao() {
            isShowModal.value = false;
            const isDeleted = await store.dispatch("dao/deleteDao");
            if (isDeleted) {
                store.dispatch('auth/logout');
                wallet.disconnect();
                router.push('/');
            }
        }

        async function changeSrc(src) {
            let daoImg = document.getElementById('dao-img');
            daoImg.src = src;
        }

        async function updateDao() {
            message = "";
            successful = false;
            if (selectedFiles) {
                const image = await store.dispatch("dao/updateImage", selectedFiles);
                if (image) {
                    changeSrc(`${BASE_URL}images/dao/${image.path}`.toString());
                    selectedFiles = null

                }
            }
        }

        async function updateName(dao) {
            console.log(dao);
            const nameUpdated = await store.dispatch("dao/updateDaoName", dao);
            console.log(nameUpdated);

        }

        function deleteDaoConfirm() {
            isShowModal.value = true
        }

        function closeModal() {
            isShowModal.value = false;
        }

        return {
            files,
            removeFile,
            onInputChange,
            deleteDao,
            deleteDaoConfirm,
            closeModal,
            isShowModal,
            selectedFiles,
            message,
            successful,
            updateDao,
            updateName,
            src,
            dao
        }
    }
}
</script>