<template>
  <div class="container mx-auto">
    <div class="flex justify-center py-10">
      <div class="w-full xl:w-3/4 lg:w-11/12 flex">

        <div class="w-full h-auto bg-gray-400 hidden lg:block lg:w-5/12 bg-cover rounded-l-lg">
          <img id="profile-img" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" class="profile-img-card" />
        </div>

        <div class="w-full lg:w-7/12 bg-white p-5 rounded-lg lg:rounded-l-none">
          <h3 class="pt-4 text-2xl text-center">Create your DAO by giving a name !</h3>
          <Form @submit="handleLogin" :validation-schema="schema">

            <div class="mb-4 md:mr-2 md:mb-0 pt-6">
              <label class="block mb-2 text-sm font-bold text-gray-700" for="name">Name</label>
              <Field name="name" type="text"
                class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" />
              <ErrorMessage name="name" class="error-feedback" />
            </div>

            <div class="mb-6 text-center pt-8">
              <button
                class="w-full px-4 py-2 font-bold text-white bg-blue-500 rounded-full hover:bg-blue-700 focus:outline-none focus:shadow-outline"
                :disabled="loading">
                <span v-show="loading" class="spinner-border spinner-border-sm"></span>
                <span>Create it !</span>
              </button>
            </div>

            <div class="form-group">
              <div v-if="message" class="alert alert-danger" role="alert">
                {{ message }}
              </div>
            </div>
          </Form>
        </div>

      </div>
    </div>

  </div>
</template>

<script>

import { Form, Field, ErrorMessage } from "vee-validate";
import * as yup from "yup";

export default {
  name: "TheLogin",
  components: {
    Form,
    Field,
    ErrorMessage,
  },
  data() {
    const schema = yup.object().shape({
      name: yup.string().required("Name is required!"),
    });
    return {
      loading: false,
      message: "",
      schema,
    };
  },
  computed: {
    loggedIn() {
      return this.$store.state.auth.status.loggedIn;
    },
  },
  created() {
    if (this.loggedIn) {
      this.$router.push("/profile");
    }
  },
  methods: {
    handleLogin(user) {
      this.loading = true;
      this.$store.dispatch("auth/login", user).then(
        (res) => {
          res.roles.forEach(role => {
            if(role === "ROLE_ADMIN") {this.$router.push("/admin-dashboard")}
            if(role === "ROLE_DAOOWNER") {this.$router.push("/daoowner")}
            if(role === "ROLE_USER") {this.$router.push("/user")}
          })
          
        },
        (error) => {
          this.loading = false;
          this.message =
            (error.response &&
              error.response.data &&
              error.response.data.message) ||
            error.message ||
            error.toString();
        }
      );
    },
  },
};
</script>
<style scoped>
</style>
